@import './common.scss';
.list {
    width: 100%;
    h3 {
        width: 100%;
        padding: px2rem(10px);
        border-bottom: 1px solid #ccc;
    }
    dl {
        width: 100%;
        border-bottom: 1px solid #ccc;
        padding: px2rem(10px);
        display: flex;
        dt {
            img {
                width: px2rem(90px);
                height: px2rem(90px);
                padding-right: px2rem(10px)
            }
        }
        dd {
            color: #333;
            h2 {
                color: #333;
                font-size: px2rem(16px)
            }
            span:nth-child(2) {
                display: block;
                font-size: px2rem(12px);
                margin-bottom: px2rem(12px)
            }
            p {
                display: flex;
                justify-content: space-between;
                b {
                    font-size: px2rem(18px);
                    color: #06c1ae;
                }
            }
        }
    }
    p {
        width: 100%;
        height: px2rem(20px);
        line-height: px2rem(20px);
        display: flex;
        justify-content: space-between;
        b {
            font-size: px2rem(16px);
            color: #06c1ae;
        }
        span {
            font-size: px2rem(12px);
            color: #999;
            margin-left: px2rem(4px);
        }
        i {
            font-size: px2rem(12px);
            color: #999;
            margin-left: px2rem(4px);
        }
    }
}